.container
  .row
    .col-12.col-lg-2
      .row
        .col-12.col-sm-3.col-md-3col-lg-12.order-2.order-sm-1.text-center
          %hr.d-sm-none
          %img.logo{:src=> "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJyFP5b3aafHdfuYYM4y3xnhvWjQv3j8C_IDe_pXTkjzudRpbh"}
        .col-12.col-sm-9.col-md-9.col-lg-12.order-1.order-sm-2
          .row.justify-content-sm-end.mt-5.d-flex.flex-lg-column.justify-content-center
            .col-2.text-center.col-lg-12
              .row.mt-lg-3
                .col-12.col-lg-3.text-lg-right.d-none.d-md-inline-block
                  %i.fas.fa-utensils.fa-2x
                .col-12-col-lg-9.text-lg-left
                  %a.navlinks{href: "#", style: "text-decoration:none;"}
                    %em Tastemakers
            .col-2.text-center.col-lg-12
              .row.mt-lg-3
                .col-12.col-lg-3.text-lg-right.d-none.d-md-inline-block
                  %i.fas.fa-book.fa-2x
                .col-12.col-lg-9.text-lg-left
                  %a.navlinks{href: "#", style: "text-decoration:none;"}
                    %em Blog
            .col-2.text-center.col-lg-12
              .row.mt-lg-3
                .col-12.col-lg-3.text-lg-left.d-none.d-md-inline-block
                  %i.far.fa-clipboard.fa-2x
                .col-12.col-lg-9.text-lg-left
                  %a.navlinks{href: "#", style: "text-decoration:none;"}
                    %em TheAList
            .col-2.text-center.col-lg-12
              .row.mt-lg-3
                .col-12.col-lg-3.text-lg-right.d-none.d-md-inline-block
                  %i.fas.fa-camera.fa-2x
                .col-12.col-lg-9.text-lg-left
                  %a.navlinks{href: "#", style: "text-decoration:none;"}
                    %em Contribute
            .col-2.text-center.col-lg-12
              .row.mt-lg-3
                .col-12.col-lg-3.text-lg-right.d-none.d-md-inline-block
                  %i.far.fa-address-book.fa-2x
                .col-12.col-lg-9.text-lg-left
                  %a.navlinks{href: "#", style: "text-decoration:none;"}
                    %em About
            .col-lg-12.mt-5.d-none.d-lg-inline-block
              %span.social 
                LASTET TWEET
              %hr
            .col-lg-12.border.d-none.d-lg-flex
              %i.fab.fa-twitter
              %span.socialbutton
                %em Join the Conversation
            .col-lg-12.mt-4.d-none.d-lg-block
              %span.social
                LET'S BE FRIENDS!
              %hr
              %p.socialp
                For weekly finds, community recommendations, and more, like us on Facebook
            .col-lg-12.border.d-none.d-lg-inline-block
              %i.fab.fa-facebook
              %span.socialbutton
                %em Join the Community
    .col-12.col-lg-10  
      .row
        .col-12
          .carousel.slide{"data-ride" => "carousel",id: "myCarousel"}
            .carousel-inner
              .carousel-item.active
                %img.d-block.w-100{:alt => "First slide", :src => "https://images.pexels.com/photos/326278/pexels-photo-326278.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"}/
                .carousel-caption.d-none.d-md-block.text-left{style: "left:0%;"}
                  %h5.phototitle
                    %em Good Food You
                  %br
                  %br
                  %p.phototext
                    %em Come and enjoy our specials and taste our best menu please come to us!
              .carousel-item
                %img.d-block.w-100{:alt => "Second slide", :src => "https://images.pexels.com/photos/262978/pexels-photo-262978.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"}/
                .carousel-caption.d-none.d-md-block.text-left{style: "left:0%;"}
                  %h5.phototitle
                    %em Good Food You and Everyone
                  %br
                  %br
                  %p.phototext
                    %em Come and enjoy our specials and taste our best menu
              .carousel-item
                %img.d-block.w-100{:alt => "Third slide", :src => "https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?h=350&auto=compress&cs=tinysrgb"}/
                .carousel-caption.d-none.d-md-block.text-left{style: "left:0%;"}
                  %h5.phototitle
                    %em Good Food You
                  %br
                  %br
                  %p.phototext
                    %em Come and enjoy our specials and taste
              .carousel-item
                %img.d-block.w-100{:alt => "Third slide", :src => "https://images.pexels.com/photos/370984/pexels-photo-370984.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"}/
                .carousel-caption.d-none.d-md-block.text-left{style: "left:0%;"}
                  %h5.phototitle
                    %em Test Our Service and You 
                  %br
                  %br
                  %p.phototext
                    %em Come and enjoy our specials and taste our best menu
      %ul.nav.nav-pills.nav-justified.row.bottoms.mr-0.ml-0.photo-buttons.d-none.d-md-flex
        %li.active.col-md-3.bottomimage.border{"data-slide-to" => "0", "data-target" => "#myCarousel"}    
          %p.buttontext.mt-4
            Tastemakers
          %p.buttontextlow.d-none.d-lg-block
            %em Feast your eyes & get recipes! 
        %li.col-md-3.bottomimage.border{"data-slide-to" => "1", "data-target" => "#myCarousel"}
          %p.buttontext.mt-4
            Blog
          %p.buttontextlow.d-none.d-lg-block
            %em News, how-tos, stories, and more
        %li.col-md-3.bottomimage.border{"data-slide-to" => "2", "data-target" => "#myCarousel"}
          %p.buttontext.mt-4
            The A-List
          %p.buttontextlow.d-none.d-lg-block
            %em Handpicked, absolute favorites 
        %li.col-md-3.bottomimage.border{"data-slide-to" => "3", "data-target" => "#myCarousel"}
          %p.buttontext.mt-4
            Contribute
          %p.buttontextlow.d-none.d-lg-block
            %em We want to hear from you!
      .row.mt-3
        .col-12
          %hr
          .row
            .col-1.text-center
              %i.far.fa-envelope.fa-2x
            .col-11.col-md-4
              %p.emailtext
                %em Sing up for our newsletter to recive a handpicked for our best stories, recipes and news, deviler weekely to your inbox.
            .col-12.col-md-7.text-center
              .row
                .col-8
                  %input.form-control{ :placeholder => "Enter email", :type => "email"}
                .col-4
                  %input.emailbutton(type="button" value="Subscribe")
          %hr 
      .row.mt-3
        .col-12.col-sm-6.col-md-3
          .card.p-2.mt-3
            %img.img-fluid.meals{:src=> "https://images.pexels.com/photos/8500/food-dinner-pasta-spaghetti-8500.jpg?h=350&auto=compress&cs=tinysrgb"}
          %h6.mt-3.articuletittle
            Recipes for a Sundey Supper
          %p.articulesize
            To do with the delectable slices of Pear Cake that I brought home from this wonderful Supper-eat them slowly, a bit at
          %span.articulecontent.articulesize
            May, 15 2002/   
            =link_to 'Read >>', '#'
        .col-12.col-sm-6.col-md-3
          .card.p-2.mt-3
            %img.img-fluid.meals{:src=> "https://images.pexels.com/photos/72160/bbq-dinner-grilled-grill-72160.jpeg?h=350&auto=compress&cs=tinysrgb"}
          %h6.mt-3.articuletittle
            How to make Pinchos
          %p.articulesize
            I brought home from this wonderful Supper-eat them slowly, I could not figure out what to do with the delectable slices of Pear Cake that I brought home from this wonderful Supper-eat them slowly, a bit at...
          %span.articulecontent.articulesize
            May, 15 2002/   
            =link_to 'Read >>', '#'
        .col-12.col-sm-6.col-md-3
          .card.p-2.mt-3
            %img.img-fluid.meals{:src=> "https://images.pexels.com/photos/675951/pexels-photo-675951.jpeg?h=350&auto=compress&cs=tinysrgb"}
          %h6.mt-3.articuletittle
            Join us on our BBC
          %p.articulesize
            I brought home from this wonderful Supper-eat them slowly, a bit at
          %span.articulecontent.articulesize
            May, 15 2002/  
            =link_to 'Read >>', '#'
        .col-12.col-sm-6.col-md-3
          .card.p-2.mt-3
            %img.img-fluid.meals{:src=> "https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?h=350&auto=compress&cs=tinysrgb"}
          %h6.mt-3.articuletittle
            Recipes for a Sundey Supper
          %p.articulesize
            I could not figure out what to do with the delectable slices of Pear Cake that I brought home from this wonderful Supper-eat them slowly, a bit at...
          %span.articulecontent.articulesize
            May, 15 2002/   
            =link_to 'Read >>', '#'
  .row
    .col-12.mt-1mb-1
      .row
        .col-12
          %hr
        .col-7.text-left.flinks.mt-2.fluid
          =link_to 'Pricacy Policy', '#'
          |
          =link_to 'Terms of Use', '#'
          |
          =link_to 'Contact', '#'
        .col-5.text-right
          %i.fab.fa-twitter.fa-2x.mr-2
          %i.fab.fa-facebook-f.fa-2x.mr-2
          %i.fas.fa-rss-square.fa-2x.mr-2



            



    
    





