// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
    font-family: Roboto;
   // padding-right: 60px;
    //padding-left: 60px;
}

.logo{
    width:150px;    
}

.navlinks{
    color: rgb(4, 190, 214);
    font-size: 12px;
    text-decoration:none;
}

.social{
    font-size: 11px
}

.socialp{
    font-size: 10px
}

.socialbutton{
    font-size: 10px;
    color: rgb(4, 190, 214);
}

.socialcolor{
    color: rgb(4, 190, 214);
}

.phototitle{
    background:white;
    color:black;
    padding:10px;
    display:inline;
    font-size: 16px;
    
}

.phototext{
    background: black;
    display:inline;
    padding:10px;
    font-size: 12px;
}


.buttontext{
    font-size: 15px;
    color: rgb(0, 156, 177);
}

.buttontextlow{
    font-size: 10px;
    color: rgb(0, 156, 177);
    margin-top:-15px;
    
}

.bottomimage{
    background: rgb(192, 235, 238);
    cursor:pointer;
    opacity:0.7;
    filter: alpha(opacity=50)
}

.bottomimage:hover{
    opacity: 1.0;
    filter: alpha(opacity=100)
}

.emailtext{
    font-size: 11px;
    
}

.emailbutton{
    font-size:14px;
    font-style: bold;
}


.articuletittle {
    color: rgb(48, 205, 245);
    font-size:14px;
}

.articulecontent{
    color:rgb(170, 170, 170);
    font-size: 13px
}

.articulesize{
    font-size: 12px;
}

.footer{
    background: yellow;
    height: 50px;
}

.flinks{
    font-size:0.5em;
    
}

@media only screen and (max-width: 768px){
    .navlinks{
        font-size: 8px
    }
}




/*@media (max-width:480px){
   body{
        padding-right: 60px;
        padding-left: 60px;
    }
}*/


